namespace: dev

app:
  name: food-service

replicaCount: 1

initContainer:
  name: copy-initial-food
  image:
    repository: johanre/cinema-food
    tag: 0.1.1
  filePath: /data/food.txt
  initFilePath: /app/init/food.txt
  initializedFile: /data/food.txt.initialized

container:
  name: food
  image:
    repository: johanre/cinema-food
    tag: 0.1.1
    pullPolicy: Always
  port: 8080
  env:
    PATH_FILE: /data/food.txt
  resources:
    requests:
      cpu: "100m"
      memory: "128Mi"
    limits:
      cpu: "500m"
      memory: "256Mi"

pv:
  name: food-pv
  capacity: 1Gi
  accessMode: ReadWriteOnce
  hostPath: /mnt/data/food  # Ruta en Minikube o el nodo donde deseas almacenar los archivos

pvc:
  name: food-pvc
  accessMode: ReadWriteOnce
  storageRequest: 1Gi

cronjob:
  name: reset-food-file
  namespace: dev
  schedule: "*/3 * * * *"  
  job:
    containers:
      name: resetter
      image: busybox
      command:
        - /bin/sh
        - -c
        - |
            cat <<EOF > /data/food.txt
            Nachos,30
            Popcorn,50
            Soda,100
            EOF
    volumeMounts:
      name: food-storage
      mountPath: /data
  pvc:
    claimName: food-pvc

hpa:
  name: cinema-food-hpa
  namespace: dev
  minReplicas: 1
  maxReplicas: 4
  metrics:
    cpu:
      targetUtilization: 20
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 0
      podsValue: 5
      periodSeconds: 10
    scaleUp:
      stabilizationWindowSeconds: 0
      podsValue: 2
      periodSeconds: 10
    selectPolicy: Max

service:
  type: ClusterIP # Tipo de servicio, puede ser ClusterIP, LoadBalancer o NodePort
  port: 80
  targetPort: 8082
  portName: http

# Configuración del ServiceMonitor
serviceMonitor:
  app:
    name: food-service 
  namespace: dev
  monitoringNamespace: monitoring
  service:
    name: food-service
    type: ClusterIP
    port: 80  # Puerto dentro del clúster
    targetPort: 8082
  port: http
  path: /actuator/prometheus 
  interval: 15s